apiVersion: v1
kind: Service
metadata:
  name: marketplace-grafana
  labels:
    app.kubernetes.io/name: marketplace-grafana
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      targetPort: grafana
