apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: marketplace-prometheus
  labels:
    app.kubernetes.io/name: marketplace-prometheus
spec:
  replicas: 1
  serviceAccountName: prometheus-k8s
  serviceMonitorSelector:
    matchLabels:
      app.kubernetes.io/name: marketplace-bot-servicemonitor
  podMonitorSelector: {}
  resources:
    requests:
      memory: 512Mi
      cpu: 250m
    limits:
      memory: 1Gi
      cpu: 500m
  retention: 7d
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: standard
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
  enableAdminAPI: false
