apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: marketplace-prometheus
spec:
  retention: 3d
  storage:
    volumeClaimTemplate:
      spec:
        resources:
          requests:
            storage: 5Gi
